body,button,input,select,textarea{  -webkit-text-size-adjust: 100%!important;font-weight:lighter;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
input,button,select,textarea{ outline:none;}
textarea{resize:none;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
sup{vertical-align:text-top; vertical-align:super}sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html,body,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,p,select,span,i,b{margin: 0;}  
ol,ul,th,td,textarea,option{margin: 0;padding: 0;}  
ol,ul,li{list-style: none;}  
a{text-decoration: none;color: #444444;}  
a:hover {color: #922d8d;}  
a,img,i,b {display: block;font-style: normal;font-weight: normal;font-family: 'microsoft yaHei', 微软雅黑, arial;}  
h6 {font-size: 14px;color: #999;}